@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
.fonts{
  font-family: Courgette;
}
.landing{
  background-image: url('Images/w3.jpg');
  height: 40rem;
  margin-left: -5px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.logimg{
  background-image: url('login.jpg');
  height: 40rem;
  margin-left: -5px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

a{
  text-decoration: none !important;
  color: white !important;
}

.adminhome,
.hiringhome,
.filmhome,
.lhome,
.userhome{
  background-image: url('Images/w3.jpg');
  height: 40rem;
  margin-left: -5px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.fcreq{
  background-image: url('./Images/q9.jpg');
  height: 40rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;

}
.hcreq{
  background-image: url('./Images/q9.jpg');
  height: 40rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
}
.loreq{
  background-image: url('./Images/q9.jpg');
  height: 40rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;

}
.aprvdsk,
.addanc,
.vanc,
.fcviewhcreq,
.fcvloc,
.hviewanc,
.hancstatus,
.hvloc,
.hlcbst,
.hviewjob,
.hskreq,
.hpw,
.lcfeed,
.lprof,
.lbkst,
.profile,
.ujob,
.upw,
.reg{
  /* background-image: linear-gradient(#E5E8EF,#94B1BD,#7AB9D3,  #010A1E 85%);   */
  background-image: url('./Images/q12.jpg');
  height: 40rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
  
}



/*  */






















