@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
.fonts{
  font-family: Courgette;
}
.landing{
  background-image: url('landing.jpg');
  height: 40rem;
  margin-left: -5px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.logimg{
  background-image: url('login.jpg');
  height: 40rem;
  margin-left: -5px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

a{
  text-decoration: none !important;
  color: white !important;
}

.adminhome{
  background-image: url('landing.jpg');
  height: 40rem;
  margin-left: -5px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.fcreq{
  background-image: url('./Images/007.jpg');
  height: 40rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.hcreq{
  background-image: url('./Images/007.jpg');
  height: 40rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.loreq{
  background-image: url('./Images/007.jpg');
  height: 40rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.aprvdsk{
  background-image: url('./Images/007.jpg');
  height: 40rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  
}



/*  */

.filmhome{
  background-image: url('./Images/home2.jpg');
  height: 40rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.addanc{
  background-image: url('./Images/anc.jpg');
  height: 40rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
