@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
.fonts{
  font-family: Courgette;
}
.landing{
  background-image: url('landing.jpg');
  height: 40rem;
  margin-left: -5px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.logimg{
  background-image: url('login.jpg');
  height: 40rem;
  margin-left: -5px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

a{
  text-decoration: none !important;
  color: white !important;
}

.adminhome{
  background-image: url('landing.jpg');
  height: 40rem;
  margin-left: -5px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.fcreq{
  background-image: url('./Images/w2.jpg');
  height: 40rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.hcreq{
  background-image: url('./Images/w2.jpg');
  height: 40rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.loreq{
  background-image: url('./Images/w2.jpg');
  height: 40rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.aprvdsk,
.addanc{
  background-image: url('./Images/w2.jpg');
  height: 40rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  
}



/*  */

.filmhome{
  background-image: url('./Images/home2.jpg');
  height: 40rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.vanc{
  background-image: url('./Images/spin.jpg');
  height: 40rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.fcviewhcreq{
  background-image: url('./Images/hc2.png');
  height: 40rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.fcvloc,
.hvloc{
  background-image: url('./Images/loc.jpg');
  height: 40rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.hiringhome{
  background-image: url('./Images/hiring.jpg');
  height: 40rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.profile{
  background-image: url('./Images/profile.jpg');
  height: 40rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.hviewanc{
  background-image: url('./Images/t1.jpg');
  height: 40rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.hancstatus{
  background-image: url('./Images/opp.jpg');
  height: 40rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.hlcbst,
.hskreq{
  background-image: url('./Images/tr.jpg');
  height: 40rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.lcfeed{
  background-image: url('./Images/tr2.jpg');
  height: 40rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.hviewjob{
  background-image: url('./Images/in.png');
  height: 40rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.hpw{
  background-image: url('./Images/pw.png');
  height: 40rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.userhome{
  background-image: url('./Images/userhome.jpg');
  height: 40rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.ujob{
  background-image: url('./Images/th1.jpg');
  height: 40rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.upw{
  background-image: url('./Images/ist.png');
 
}
.lhome{
  background-image: url('./Images/lhome.jpg');
  height: 40rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.lprof{
  background-image: url('./Images/lprof.jpg');
  height: 40rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.lbkst{
  background-image: url('./Images/lbkst.jpg');
  height: 40rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}